* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Lato';
    line-height: 1.6;
    /*    color: darkseagreen;*/
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    /*    background-color: palegreen;*/
    align-items: center;
    margin: 0 auto;
}

.flex-container > div {
    /*background-color: gainsboro;*/
    width: 300px;
    min-height: 300px;
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 150px;
    height: 100%;
}

.coursework {
    align-items: center;
    border-style: none none none solid;
    padding-left: 20px;
    padding-right: 20px;

}

.current {
    list-style: none;

}

ol {
    text-align: left;
}

.button {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);

    /*    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows */
    -webkit-transform: rotate(45deg);
    border-color: darkseagreen;
}

.button:hover {
    border-color: lightblue;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.369em;
}

h2 {
    font-size: 1.777em;
}

h3 {
    font-size: 1.333em;
}

.projects {
    padding-top: 30px;
    list-style: none;
}

a {
    color: darkseagreen;
    text-decoration: none;
}

a:hover {
    color: lightblue;
}
