*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Helvetica;
    color: darkseagreen;
}

.flex-container{
    display: flex;
    justify-content: center;
    background-color: palegreen;
}

.flex-container > div{
background-color: gainsboro;
  width: 300px;
  margin: 10px;
  text-align: center;

}

img{
    width:100%;
    max-width: 200px;
    height:100%;
}
