/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}


/**************
Your Formatting
***************/

#mygrid {
    display: grid;
    grid-template-rows: 75px 30px 1fr 2fr 50px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside article"
        "extraC article"
        "footer footer";
    ;
    width: 90vw;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    grid-area: header;
    background: lightpink;

}

nav {
    grid-area: nav;
    background-color: lavenderblush;
}

article {
    grid-area: article;
    background: lightcyan;
/*    grid-row: span 2/5;*/
}

aside {
    grid-area: aside;
        background-color: lightblue;
}

footer {
    grid-area: footer;
      background: lightpink;
}

#extracredit{
    grid-area: extraC;
     background-color: lightblue;
}

header,
footer, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    background: #ccc;
    width: 6rem;
    text-align: center;

}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

}

.list li {
    padding: .25rem;
  background: #ddd;
}

/*Mobile Grid Layout*/
@media screen and (max-width: 760px) {
    #mygrid {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 75px 30px 1fr 1fr 1fr 30px;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "aside"
            "extraC"
            "footer"
        ;
/*        min-height: 0;*/
    }
}
